In [136]:
import pandas as pd
import random
import unidecode

In [137]:
d = pd.read_excel('final.xlsx')

In [138]:
d['p_sale_price'] = 0

In [139]:
i = 0
for index, item in d.iterrows():
    if i % 5 == 0:
        r = random.randint(2, 9)
        price = d.iloc[index]['p_price']
        price = unidecode.unidecode(price)
        price = price.split(' ')[0].strip(',').replace(',', '.')
        price = float(price)
        d.loc[index, 'p_sale_price'] = price - r
        s = d.loc[index, 'p_sale_price']
    else:
        d.loc[index, 'p_sale_price'] = None
    i+= 1

In [140]:
d.head(40)['p_sale_price']

0     30.99
1       NaN
2       NaN
3       NaN
4       NaN
5     20.99
6       NaN
7       NaN
8       NaN
9       NaN
10    24.99
11      NaN
12      NaN
13      NaN
14      NaN
15    25.99
16      NaN
17      NaN
18      NaN
19      NaN
20    41.99
21      NaN
22      NaN
23      NaN
24      NaN
25    38.99
26      NaN
27      NaN
28      NaN
29      NaN
30     8.99
31      NaN
32      NaN
33      NaN
34      NaN
35    10.99
36      NaN
37      NaN
38      NaN
39      NaN
Name: p_sale_price, dtype: float64

In [31]:
# for i in range(100):
#     if i % 2 == 0:
#         sale_price = random.randint(22, 85)
#         d.iloc[i]['p_sale_price'] = sale_price

In [141]:
# d.to_csv('final.csv')